img {
  width: 200px;
  border-radius: 90px;
}

 .l1,.lehaut,.l2, .l3{
	display: flex;
	gap: 0%;
	justify-content: center;
}


.lehaut {
	margin: 70px;
	gap: 5%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
 	height: 200px;
	text-align: center;
	font-family: "Gill Sans", sans-serif;
}

h1 {
	text-decoration: underline;
}

h3 {

	font-size: 1.7rem;
}

body {
  background: linear-gradient(to bottom right, white, #eab0e2);
}


h2 {
	color: white;
	background-color: grey;
}


 .divers, .experiences, .contact, .formation, .contact, .atout, .competences {
	width: 300px;          
    	height: 330px;
    	padding: 10px;
	background-color: #f9e1f5;
	font-family: "Gill Sans", sans-serif;
}
